<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>MES</title>

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">

  <!-- Custom styles for this page -->
  <!-- <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet"> -->
  <script src="vendor/datatables/gyu/jquery-3.5.1.js"></script>
  <script src="vendor/datatables/gyu/jquery.dataTables.min.js"></script>
  <script src="vendor/datatables/gyu/dataTables.select.min.js"></script>
  <script src="js/main_content.js"></script>

  <link href="vendor/datatables/gyu/jquery.dataTables.min.css" rel="stylesheet">
  <link href="vendor/datatables/gyu/dataTables.select.min.css" rel="stylesheet">

  <script src="vendor/datatables/gyu/qrcode.min.js"></script>
  <!-- <link href="vendor/datatables/gyu/qr_print.css" media="print" rel="stylesheet" /> -->

  <!-- <script src="vendor/datatables/gyu/dataTables.buttons.min.js"></script>
  <link href="vendor/datatables/gyu/buttons.dataTables.min.css" rel="stylesheet"> -->

<style>
#order_data_table td input[type="checkbox"] {
  display: block;
  margin: 0 auto;
  transform: scale(1.5); /* 크기 조정 */
}

#order_data_table th input[type="checkbox"] {
  display: block;
  margin: 0 auto;
  transform: scale(1.5); /* 크기 조정 */
}

th.no-sort {
  cursor: default;
}

</style>

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">


      <!-- Nav Item - Pages Collapse Menu -->
	  <%-include('./sidebar.ejs')%>
      <!-- Nav Item - Utilities Collapse Menu -->



      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

          <!-- Topbar -->
        <%-include('./topbar.ejs')%>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800" id = "head_menu"></h1>

          <!-- DataTales Example -->
           <div class="card shadow mb-4">
                        
   			<div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary" id = "display_menu"></h6>
            </div>
			<div class="card-body">
				<table class="table table-bordered" style="width:100%;" cellspacing="0">
                  <thead>
					<tr>
					<th style="vertical-align: middle;" colspan = "6">※ 거래처 등록</th>
					</tr> 
					 
                    <tr>
					<th style="text-align: center; vertical-align: middle;" >업체코드</th>
				    <th ><input type ="text" class = "form-control" id ="code"></th>
					<th style="text-align: center; vertical-align: middle;" >업체구분</th>
				    <th> 
						<select id ="division" name="classify" class = "form-control" >
						<option value=""></option>
						<option value="내부">내부</option>
						<option value="외부">외부</option>
					  	</select>
					</th>
					<th colspan ="2"></th>	
					</tr> 
					<tr>
					<th  style="text-align: center; vertical-align: middle;" >약식상호</th>
				    <th ><input type ="text" class = "form-control" id ="nickname"></th>	
					<th colspan ="2"></th>		
					<th  style="text-align: center; vertical-align: middle;" >정식상호</th>
				    <th ><input type ="text" class = "form-control" id ="company"></th>		
					</tr>
					<tr>
					<th style="text-align: center; vertical-align: middle;" >대표자명</th>
				    <th><input type ="text" class = "form-control" id ="ceo"></th>
				    <th style="text-align: center; vertical-align: middle;">단가적용</th>
				    <th> 
						<select id="cost" name="classify" class = "form-control" >
						<option value=""></option>
						<option value="A">A</option>
						<option value="B">B</option>
						<option value="C">C</option>
					  	</select>
					</th>
					<th  style="text-align: center; vertical-align: middle;" >대표전화</th>
				    <th ><input type ="text" class = "form-control" id ="tel"></th>		
					</tr> 
					<tr>
				    <th style="text-align: center; vertical-align: middle;" >기타전화</th>
				    <th ><input type ="text" class = "form-control" value = "" id ="ect_tel"></th>	
					<th colspan ="2" rowspan = "6"></th>		
					<th  style="text-align: center; vertical-align: middle;" >팩스번호</th>
				    <th ><input type ="text" class = "form-control"id ="fax" ></th>	

					</tr>   
					<tr>
				    <th style="text-align: center; vertical-align: middle;" >등록번호</th>
				    <th><input type ="text" class = "form-control" id ="reg_no"></th>		
					<th style="text-align: center; vertical-align: middle;">등록일자</th>
				    <th><input type ="text" class = "form-control" value = "" id = "reg_date" disabled ></th>	
					</tr>
				    <tr>
					<th style="text-align: center; vertical-align: middle;">업태</th>
				    <th ><input type ="text" class = "form-control" id="occupation"></th>
				    <th style="text-align: center; vertical-align: middle;">종목</th>
				    <th><input type ="text" class = "form-control" id="event"></th>
					</tr> 
					<tr>
					<th style="text-align: center; vertical-align: middle;">사업장 주소</th>
				    <th ><input type ="text" class = "form-control" id="address"></th>
				    <th style="text-align: center; vertical-align: middle;" rowspan ="2">기타 사항</th>
				    <th rowspan="2" style="text-align: center; vertical-align: middle;">
					<input type="text" class="form-control" style="width: 100%; height: 100%; padding:2.0rem;" id="ect">
					</th>
					</tr>
					<tr>
					<th style="text-align: center; vertical-align: middle;" >담당자명</th>
				    <th ><input type ="text" class = "form-control" id ="charge"></th>
					</tr>   
                  </thead>
                  <tbody>
                  </tbody>
              </table>
							
						<div style="display: flex; flex-direction: row; width: 100%; margin-bottom: 10px;justify-content: flex-end;">
						  <div style="display: flex; flex-direction: row; width: 100%; margin-bottom: 10px; justify-content: space-between;">
							  <div>
								<button class="btn btn-primary" onclick="reset()">초기화</button>
							  </div>
							  <div>
								<button class="btn btn-primary" id = "saveButton" onclick="save()">저장</button>
							  </div>
							</div>
						</div>
						<h2 class="m-0 font-weight-bold text-primary" >거래처 기초 자료 등록 현황</h2>	
						<table style="float:right; margin-top:10px ; margin-bottom:10px">
						<tr>
						<th>
						<button class="btn btn-primary">코드순</button>
						<button class="btn btn-primary">상호순(약)</button>
						<button class="btn btn-primary">상호순(정)</button>
						<button class="btn btn-primary">대표자명</button>
						<button class="btn btn-primary">대표전화</button>
						<button class="btn btn-primary">업체구분</button>
						</th>
						<th>
						<input type = "text" class = "form-control" id = "searchbox">	
						</th>
						<th>
						<button class="btn btn-success" >조회</button>
						</th>	
						</tr>
						</table>
						
						<%=row[0].code%>
                            <div class="table-responsive">
								<form action="/employee_info_delete" name="list_form" id="list_form" method="post">
                                <table class="table table-bordered" id="order_data_table" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
											<th style="width:3%; vertical-align: middle;"><input type="checkbox" name="chAll" id="chAll"></th>	
                                            <th>코드</th>
                                            <th>정식상호명</th>
                                            <th>대표자명</th>
											<th>대표전화</th>
											<th>기타전화</th>
											<th>팩스번호</th>
											<th>사 업 장 주 소</th>
											
                                        </tr>
                                    </thead>
                         
                                    <tbody>
										<% for (let i = 0; i < row.length; i++) { %>
											<tr>
											  <td style="vertical-align: middle;"><input type="checkbox"></td>
											  <td><%= row[i].code %></td>
											  <td><%= row[i].company %></td>
											  <td><%= row[i].ceo %></td>
											  <td><%= row[i].tel %></td>
											  <td><%= row[i].ect_tel %></td>
											  <td><%= row[i].fax %></td>
											  <td><%= row[i].address %></td>
											</tr>
										  <% } %>
									
                                    </tbody>
                                </table>
								<div style = "float : right; padding-top : 10px">
								<!-- <button class="btn btn-primary btn-danger" name ="delete_btn" id ="delete_btn" sytle = "float:right">삭제</button> -->
								<button type="button" onclick="stock_manage_delete()" class="btn btn-primary btn-danger" style="float:right;">삭제</button>
								</div>
								</form>
							</div>
                        </div>
                    </div>

        </div>
      </div>
    </div>
  </div>
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close btn btn-primary" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <!-- <script src="vendor/jquery/jquery.min.js"></script> -->
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <!-- <script src="vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script> -->

  <!-- Page level custom scripts -->
  <!-- <script src="js/demo/datatables-demo.js"></script> -->


    <script>
	var dataTable;	


	document.getElementById('management_customer').style.background='khaki'; // 사이드바 불 들어오게 하는 함수
	
	$(document).ready(function() {
	dataTable  = $('#order_data_table').DataTable({
	pageLength: 10,
	lengthMenu: [1, 5, 10, 20, 50, 100],
	select: {
		style: 'single'
	},
	searching:false,
	columnDefs: [{
			targets: [0],
			className: 'no-sort',
			orderable: false
			}],
			order: [] // 초기 정렬 순서를 비활성화
	});
	});

	$('#order_data_table tbody').on('click', 'tr', function() {
    var selectedRowData = dataTable.row(this).data();
    var SecondColumnValue = selectedRowData[1];
	let submit_args = '';
			submit_args += commonFunc.makeArgs("code",SecondColumnValue );
			const ret = commonFunc.postArgs("/customer_search", submit_args);
			document.getElementById("code").value = ret.customer_search_row[0].code;
			document.getElementById("division").value = ret.customer_search_row[0].division;
			document.getElementById("company").value = ret.customer_search_row[0].company;
			document.getElementById("nickname").value = ret.customer_search_row[0].nickname;
			document.getElementById("ceo").value = ret.customer_search_row[0].ceo;
			document.getElementById("tel").value = ret.customer_search_row[0].tel;
			document.getElementById("cost").value = ret.customer_search_row[0].cost;
			document.getElementById("ect_tel").value = ret.customer_search_row[0].ect_tel;
			document.getElementById("fax").value = ret.customer_search_row[0].fax;
			document.getElementById("reg_no").value = ret.customer_search_row[0].reg_no;
			document.getElementById("reg_date").value = ret.customer_search_row[0].reg_date;
			document.getElementById("occupation").value = ret.customer_search_row[0].occupation;
			document.getElementById("event").value = ret.customer_search_row[0].event;
			document.getElementById("address").value = ret.customer_search_row[0].address;
			document.getElementById("charge").value = ret.customer_search_row[0].charge;
			document.getElementById("ect").value = ret.customer_search_row[0].ect;
			disabledInputs()
			change_modify_button()
			
  	});


	//테이블 설정 기능
	$('#order_data_table tbody').on('click', 'input[type="checkbox"]', function(e) {
	e.stopPropagation(); // 이벤트 전파 중단(체크박스)
	});

	$('#order_data_table tbody').on('click', 'td:has(input[type="checkbox"])', function(e) {
	e.stopPropagation(); // 이벤트 전파 중단(체크박스포함td)
	});

	//여기서부터 날짜시작
  	var today = new Date(); // 현재 시간을 나타내는 Date 객체 생성
    var year = today.getFullYear(); // 현재 연도 가져오기
    var month = today.getMonth() + 1; // 현재 월 (0부터 시작하므로 +1)
    var day = today.getDate(); // 현재 일

    // 날짜가 한 자리 숫자인 경우 앞에 0을 붙여서 두 자리로 만들기
    if (month < 10) {
    month = '0' + month;
    }
    if (day < 10) {
    day = '0' + day;
    }
    var currentDate = year + '-' + month + '-' + day; // YYYY-MM-DD 형식으로 날짜 생성
    document.getElementById('reg_date').value = currentDate; // 오늘 날짜를 input 요소의 value 속성에 할당
	//날짜끝 + 날짜 데이터 넣는거

	//reset 버튼 시작
	function reset() {
		resetInputs();
		resetDataTableSelection();
		change_save_button();
		ableInputs();
  }

  function resetInputs() {
    var inputs = document.querySelectorAll('input:not(#searchbox):not(#reg_date)');
    inputs.forEach(function(input) {
      input.value = '';
    });
  }

  function resetDataTableSelection() {
    // DataTable 선택 해제
    dataTable.rows().deselect();
	dataTable.column(0).nodes().to$().find('input[type="checkbox"]').prop('checked', false);
	$('#order_data_table th input[type="checkbox"]').prop('checked', false);
  }
  //reset 버튼 끝

  function change_modify_button() //tr 클릭시 수정 버튼으로 바꾸는 함수
  {
	var modifyButton = document.getElementById("saveButton");
				modifyButton.innerHTML = "수정";
				modifyButton.className = "btn btn-success";
				modifyButton.onclick = modify;
  }

  function change_save_button() // 초기화 클릭시 저장 버튼으로 바꾸는 코드
  {
	var saveButton = document.getElementById("saveButton");
				saveButton.innerHTML = "저장";
				saveButton.className = "btn btn-primary";
				saveButton.onclick = save;
  }

  function disabledInputs() { //클릭시 뜨는 내용 인풋박스 전부다 disabled 되는 함수
    var inputs = document.querySelectorAll('input:not(#searchbox):not(#reg_date)');
    inputs.forEach(function(input) {
		input.disabled = true;
    });
  }

  function ableInputs(){
	var inputs = document.querySelectorAll('input:not(#searchbox):not(#reg_date)');
	inputs.forEach(function(input) {
  input.disabled = false;
	});
  }
  
  function save() {
		let submit_args = '';
			submit_args += commonFunc.makeArgs("code", $("#code").val());
			submit_args += commonFunc.makeArgs("division", $("#division").val());
			submit_args += commonFunc.makeArgs("company", $("#company").val());
			submit_args += commonFunc.makeArgs("nickname", $("#nickname").val());
			submit_args += commonFunc.makeArgs("ceo", $("#ceo").val());
			submit_args += commonFunc.makeArgs("tel", $("#tel").val());
			submit_args += commonFunc.makeArgs("cost", $("#cost").val());
			submit_args += commonFunc.makeArgs("ect_tel", $("#ect_tel").val());
			submit_args += commonFunc.makeArgs("fax", $("#fax").val());
			submit_args += commonFunc.makeArgs("reg_no", $("#reg_no").val());
			submit_args += commonFunc.makeArgs("reg_date", $("#reg_date").val());
			submit_args += commonFunc.makeArgs("occupation", $("#occupation").val());
			submit_args += commonFunc.makeArgs("event", $("#event").val());
			submit_args += commonFunc.makeArgs("address", $("#address").val());
			submit_args += commonFunc.makeArgs("charge", $("#charge").val());
			submit_args += commonFunc.makeArgs("ect", $("#ect").val());
			const ret = commonFunc.postArgs("/customer_save", submit_args);
			console.log(submit_args)
	
	}

	function modify(){
		ableInputs()
		var modify_save = document.getElementById("saveButton");
		modify_save.innerHTML = "수정(저장)";
		modify_save.className = "btn btn-primary";
		modify_save.id = "modify_save";
	}

	function modify_save(){
		let submit_args = '';
			submit_args += commonFunc.makeArgs("code", $("#code").val());
			submit_args += commonFunc.makeArgs("division", $("#division").val());
			submit_args += commonFunc.makeArgs("company", $("#company").val());
			submit_args += commonFunc.makeArgs("nickname", $("#nickname").val());
			submit_args += commonFunc.makeArgs("ceo", $("#ceo").val());
			submit_args += commonFunc.makeArgs("tel", $("#tel").val());
			submit_args += commonFunc.makeArgs("cost", $("#cost").val());
			submit_args += commonFunc.makeArgs("ect_tel", $("#ect_tel").val());
			submit_args += commonFunc.makeArgs("fax", $("#fax").val());
			submit_args += commonFunc.makeArgs("reg_no", $("#reg_no").val());
			submit_args += commonFunc.makeArgs("reg_date", $("#reg_date").val());
			submit_args += commonFunc.makeArgs("occupation", $("#occupation").val());
			submit_args += commonFunc.makeArgs("event", $("#event").val());
			submit_args += commonFunc.makeArgs("address", $("#address").val());
			submit_args += commonFunc.makeArgs("charge", $("#charge").val());
			submit_args += commonFunc.makeArgs("ect", $("#ect").val());
			const ret = commonFunc.postArgs("/modify_save", submit_args);
			alert("방방")
			console.log(submit_args)
	}
  </script>
</body>

</html>